// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// @import 'left-bar.scss';


.btn-new {
    margin-bottom: 1rem;
    float: right;
}


.table {
    td {
        &.options {
            padding: 0.75rem 0px 0.75rem 0.75rem;
            .btn-group {
                width: 100%;
            }
        }
    }
}