#left-bar {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

#left-bar li {
  padding: 0px;
  margin: 0px;
  color: #f8fafc;
}

#left-bar li a {
  margin: 1px 0px;
  color: #f8fafc;
  text-decoration: none;
  padding: 7px 20px;
  background-color: #343a40;
  width: 100%;
  display: block;
}

#left-bar li a:hover {
  background-color: #656769;
}

#left-bar li a i {
  width: 15px;
  display: inline-table;
}

